*{
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Rubik" ,sans-serif;
    font-weight: 400;
}

/*--------------------*/
/* HEADER SECTION */
/*-------------------*/
.header{
    width: 100%;
    background-color: #fdf2e9;
    position: fixed;
    overflow: hidden;
    top: 0;

    
}
.header-container{
    padding: 0 4.8rem;
    height: 8.6rem;
    
    /* overflow: hidden;
    position: fixed;
    max-width: 100%; */
    /* top: 0; */
    /* max-width: 100%; */


}
.header-test{
    position: fixed;
    width: 100%;
    overflow: hidden;

}
.btn-mobile-nav-icon[name="close-outline"] .hidden{
    display: none;
}
.btn-mobile-nav .hidden{
    display: none;
}
.btn-mobile-nav-icon{
    display: none;
    height: 4.8rem;
    width: 4.8rem;
    color: black;
 
}
.btn-mobile-nav{
    border: none;
    background:none;
    cursor: pointer;
    display: none;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-nav-list{
    display: flex;
    gap:4.7rem;
    list-style: none;
    font-size: 1.8rem;
    color: #555;


}
.header-container .logo{
    height: 2.2rem;
}
.main-nav-list .main-nav-link:visited,
.main-nav-list .main-nav-link:link{
    display: inline-block;
    text-decoration: none;
    color:#333;
    font-weight: 500;
    transition: all 0.3s;
}

.main-nav-list .main-nav-link:hover,
.main-nav-list .main-nav-link.active{
    color: #e67e22;
}


.main-nav-list .nav-cta{
    padding: 1.2rem 3.2rem;
    background-color: #e67e22;
    border-radius: 9px;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    transition: background-color 0.3s;
}
.main-nav-list .nav-cta:hover{
    background-color: #cf711f;
}

main{
    margin-top: 8.6rem;
}


/*--------------------*/
/* HERO SECTION*/
/*-------------------*/
/* @media(max-width:600px){
    .hero-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

} */


.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 130rem;
    align-items: center;
    gap: 9.6rem;

}
.hero-img{
    width: 100%;
}
.section-hero{
    padding: 4.8rem 0 9.6rem 0;
    background-color: #fdf2e9;

    line-height: 1.6;
/*    width: 100%;*/
}
.heading{
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    letter-spacing:-0.5px ;
    color: #333;
}
.hero-description{
    font-size: 2rem;
    margin-bottom: 4.8rem;
    color: #555;
}
.btn,
.btn:link, .btn:visited{
    display: inline-block;
    /* font-size: 2rem; */
    text-decoration: none;
    font-size: 2rem;
    /* background-color: #e67e22; */
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    font-weight: 600;
    /* color: white; */
    transition:  background-color 0.3s;
    border: none;
    cursor: pointer;
}
.btn1:link , .btn1:visited{
    background-color: #e67e22;
    color: white;

}
.btn1:active,.btn1:hover{
    background-color: #cf711f;
}
/*
ôn lại phần các lớp giả như visited link....
 */
.btn2:link ,.btn2:visited{
    background-color: white;
    color: #555;
}
.btn2:active ,.btn2:hover{
    background-color: #fdf2e9;
    color: #555;
    /* border: 3px solid #fff; */
    box-shadow: inset 0 0 0 3px #fff;
}
.margin-right{
    margin-right: 1.6rem;
}

.feedback{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
}
.feedback-people{
    display: flex;
}
.feedback-people .people-img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
}
.feedback-people .people-img:last-child{
    margin-right: 0;
}
.feedback-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.span-text{
    color: #e67e22;
    font-weight: 700;
}


/*--------------------*/
/* BRAND SECTION*/
/*-------------------*/

.logo-company{
    padding: 3.2rem 0 4.8rem 0;
}
.logo-container{
    max-width: 120rem;
    margin: 0 auto;
}
.logo-container .title{
    /* justify-content: center; */
    text-align: center;
}
.logo-container .logo-icon{
    display: flex;
    justify-content: space-around;
}
.logo-icon img{
    height: 3.2rem;
}

.logo-heading{
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color:#888;

    margin-bottom: 2.2rem;
    letter-spacing: 0.75px;

}

/*--------------------*/
/* APP SHOW SECTION*/
/*-------------------*/


/* .introduce-container{
     max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 9.6rem; 

} */
/* .grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 9rem;
    row-gap: 9rem;
    padding: 0 3.2rem;

} */
.section-how{
    padding: 9.6rem 0;
}
.step-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-img img{
    width: 35%;


}

.step-number{
    font-size: 8.6rem;
    color: #ddd;
    font-weight: 600;
}
/* .step-text-box .heading-tertiary{
    font-size: 3rem;
    margin-bottom: 2.5rem;
    line-height: 1.2;
} */
.step-text-box .step-description{
    font-size: 2rem;
    font-weight: 500;
    color:#555
}
.step-text-box{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 3rem; */
    font-weight: 600;;

}

 /* .subheading{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #e67e22;
   font-weight: 600;


    display: block;
    margin-bottom: 1rem;

}
 .heading-secondary{
    font-size: 4.4rem;
    font-weight: 700;
    margin-bottom: 9.6rem;
    color: #333;

} */
/* .introduce-title
{
    margin-bottom: 9rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 120rem;
} */





/*--------------------*/
/* MEAL-LIST SECTION*/
/*-------------------*/


.section-meals{
    max-width: 120rem;
    margin: 0 auto;
    padding: 9.6rem 0;
}
.center-text{
    text-align: center;
}
.grid-meal{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    column-gap: 6rem;


}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius:10px ;
    transition: all 0.4s;
}
.meal:hover{
    transform: translateY(-1.2rem);
}
 .meal img{
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
 }
 .meal-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
    margin-top: 1rem;


 }
 .meal-attribute{

    font-size: 1.8rem;
    font-weight: 400;
    color: #555;
    display: flex;
    align-items: center;
    gap: 1rem;

 }
 .meal-attributes{
   list-style: none;
   padding-left: 0;
   display: flex;
   flex-direction: column;
   gap: 2rem;
 }
 .meal-content{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;

 }
 .tag{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    background-color:#99ff99 ;
    border-radius: 30px 30px 30px 30px;
    padding: 0.4rem 1rem;
    display: inline-block;

 }
 .tag2{
    background-color: #00e600;
 }
 .tag3{
    background-color:#ffa500
 }
 ion-icon{
    color: #e67e22;
    font-size: 2.5rem;
 }
h3{
    font-size: 3.2rem;
    font-weight: 600;
 }
 .list-diet{
    list-style: none;
    padding-left: 0;
    margin-top: 2.7rem;
 }
 .meal .list-diet{
    display: flex;
    flex-direction: column;

 }
 .list-diet .item{
    display: flex;
    font-size: 2rem;
    margin-top: 2.2rem;
    gap: 2rem;

 }
 strong{
    font-weight: 500;
 }
.all-recipes{
    text-align: center;
    font-size: 1.8rem;

}
.all-recipes .link:link,
.all-recipes .link:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom:2px solid currentColor ;
    display: inline-block;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.all-recipes .link:hover,
.all-recipes .link:active{
    color: #cf711f;

    border-bottom: 2px solid transparent;
}
.text-test{
    line-height: 2rem;
}
/*--------------------*/
/* FEEDBACK SECTION*/
/*-------------------*/
.section-testimonials{
    background-color: #fdf2e9;
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: 55fr 45fr;
    gap: 1.5rem;
    align-items: center;

}
.testimonial-container{
    padding: 9.6rem;
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4.8rem;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    /* height: auto; */
}
.testimonial-img{
    width:6.4rem;
    border-radius:50% ;
    margin-bottom: 1.2rem;
}
.testimonial-name{
    font-size: 1.6rem;
    color: #777;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 1.5rem;
    padding: 1.5rem;
}
.gallery-item{
    overflow: hidden;
}
.gallery-item img{
    max-width: 100%;
    display: block;
    transition: all 0.4s;

}
.gallery-item img:hover{
    transform: scale(1.1);
}
.customer-feed{
    font-size: 1.5rem;
    opacity: 0.5;
}
/*--------------------*/
/* PRICING SECTION*/
/*-------------------*/
.section-pricing{

    padding: 9.6rem 0 9.6rem 0;
}

.container-pricing{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
    padding: 0.4rem;


}
/* .pricing-plan{
    text-align: center;
} */
.plan-header{
    text-align: center;
    margin-bottom: 2rem;

}
.plan-name{
    text-transform: uppercase;
    color: #cf711f;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}
.plan-price{
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}
.dollor{
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}
.plan-text{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #616161;
}
.plan-sing-up{
    text-align: center;
    margin-top: 4.8rem;
}
.pricing-plan{

    padding: 4.8rem;
    border-radius: 11px;
    width: 72%;
}
.pricing-plan--completed{
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;

}
.pricing-plan--completed::after{
    content: "Best Value";
    position: absolute;
    top: 6%;
    right: -17%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    color: #333;
    transform: rotate(45deg);

}
.plan1{
    background-color: white;
    border:2px solid #fdf2e9 ;
}
.pricing-plan--starter{
    justify-self: end;
}
.plan-detail{
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 9.6rem;
}

.grid-4-colums{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6rem;

}

.feature-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.feature-text{
    font-size: 1.8rem;
    line-height:1.8 ;
}
.feature-icon{
    color: #cf711f;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #faf1e9;
    padding: 1.4rem;
    border-radius: 50%;
}
/*--------------------*/
/* FORM SECTION*/
/*-------------------*/


.cta-section{
    padding: 4.8rem 0 12.8rem 0;
}
.form-signup{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to right bottom,#eb984e, #e67e22);
    border-radius: 11px;
    overflow: hidden;
    /* height: 50rem; */
    color: #45260a;
}
.form-text{
    padding: 5rem;

}
.form-text .heading-secondary{
    color: #45260a;
    margin-bottom: 3.2rem;
}
.form-img-personal{
    width: 100%;
}
.form-text-title{
    font-size: 4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 2rem;
}
.form-text-content{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
    color: inherit;
}
.form-img{
    background-image: url('../img/eating.jpg');
    overflow: hidden;
    background-size: cover;
}
.text{
    padding: 2rem 2rem;
}
.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}
.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input,.cta-form select{
    width: 100%;
    padding: 1.4rem 1.4rem;
    border: none;
    border-radius:9px;
    background-color: #fdf2e9;
    font-size: 1.8rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);


}

/* .cta-form button{
     width: 100%;
    padding: 1.4rem 1.4rem;
    border: none;
    border-radius:9px;
    color: #fdf2e9;
    font-size: 1.8rem;
    margin-top: 3.1rem;
    font-weight: 600;
    background-color: #45260a;
    transition: all 0.5s; 

} */
.cta-form button:hover{
    background-color: #fdf2e9;
    color: #45260a;

}
.btn--form{
    background-color: #45260a;
    color: #fdf2e9;
    transition: all 0.5s;
    /* align-self: end;lưu ý học cái này */
    padding: 1.4rem ;
    align-self: end;
}



/*--------------------*/
/* FOOTER SECTION*/
/*-------------------*/
.footer-section{
    padding: 6rem 0 6rem 0;
    border-top: 1px solid #dddddd;
}
.information-footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 6rem;
    
}
.logo-header{
    width: 100%;
}
.footer-content{
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #777;

}
.heading-footer{
    font-size: 1.8rem;
    font-weight: 600;
    color: #777;

}
.social-media-icon{
    margin-top: 2.8rem;
    margin-bottom: 4rem;
    display: flex;
    gap:  2.2rem;

    
}
.social-media-icon i {
    font-size: 2.8rem;
    color: #777;
}
.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
   
    color: #777;
    margin-top: 2rem;

}
.nav-elment-text{
    font-size: 1.6rem;
    line-height:1.8rem ;
}
.fa-brands:hover{
    color: #eb984e;

}